[Unit]
Description=Pollux NZ City Gateway Service
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/pollux
ExecStart=/usr/bin/pollux_gateway -c /etc/pollux -e /usr/lib/pollux 2&>1 > /var/log/pollux_gateway.log
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -STOP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target

