[Unit]
Description=Lighttpd web server
After=syslog.target network.target

[Service]
Type=simple
ExecStartPre=/usr/sbin/lighttpd -t -f /etc/lighttpd.conf
ExecStart=/usr/sbin/lighttpd -D -f /etc/lighttpd.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target


