[Unit]
Description=Lighttpd web server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/sbin/lighttpd -f /etc/lighttpd.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target

